
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  list-style: none;
}

.active{
  font-family: 'Courier New', Courier, monospace;
  background-color:black;
  color: aliceblue;
}